<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" />
    <meta charset="utf-8" />
    <title>Menu Animation</title>
    <link href="~/Content/StyleLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="~/Scripts/ScriptLayout.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="mybody">
    <input type="checkbox" id="checkbox-menu" />
    <label for="menu" class="menu-label">
        <div class="menu">
            <div class="logo">
                <a href="~/Home">
                    <img src="~/Content/hiveicon.png" style=" width: 45%; height: 45%;" />
                </a>
            </div>
            <div class="nav">
                <ul class='nav_list'>
                    <li><a href="~/Home/Portfolio">Portfólio</a></li>
                    <li><a href="~/Home/Contato">Contrato e Orçamento</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Nossa Equipe</a></li>
</div>
        </div>
        <div class="button">
            <label for="checkbox-menu" class="checkbox-menu-label">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="conta">
            <button class="btn" onclick="location.href = 'Home/Login';"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
        </div>
    </label>
    <div class="header-mask"></div>
    @RenderBody()
    <div class="footer">
        <div id="button"></div>
        <div id="container">
            <div class="copyright">
                <h2>© 2020 Hive Studios - All Rights Reserved.</h2>
            </div>
            <div class="images">
                <a href="#">
                    <img src="~/Content/imgtemplate.jpg" style=" width: 100px; height: 100px;" />
                </a>
                <a href="#">
                    <img src="~/Content/imgtemplate.jpg" style=" width: 100px; height: 100px;" />
                </a>
                <a href="#">
                    <img src="~/Content/imgtemplate.jpg" style=" width: 100px; height: 100px;" />
                </a>
                <a href="#">
                    <img src="~/Content/imgtemplate.jpg" style=" width: 100px; height: 100px;" />
                </a>
                <a href="#">
                    <img src="~/Content/imgtemplate.jpg" style=" width: 100px; height: 100px;" />
                </a>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>