<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link href="~/Content/StyleLayout.css" rel="stylesheet" />
    <script src="~/Scripts/ScriptLayout.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <button id="button" onclick="FuncAnimation()"><img src="https://img.pngio.com/hamburger-menu-menu-menu-bar-icon-png-and-vector-for-free-hamburger-menu-png-512_512.png" width="50" height="50" /></button>
    <div id="menu">
        
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>