<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" />
    <meta charset="utf-8" />
    <title>Menu Animation</title>
    <link href="~/Content/StyleLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="~/Scripts/ScriptLayout.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="mybody">
    <input type="checkbox" id="checkbox-menu" />
    <label for="menu" class="menu-label">
        <div class="menu">
            <div class="logo">
                <a href="~/Home">
                    <img src="~/Content/hiveicon.png" style=" width: 45%; height: 45%;" />
                </a>
            </div>
            <div class="nav">
                <ul class='nav_list'>
                    <li><a href="~/Home/Portfolio">Portfólio</a></li>
                    <li><a href="~/Home/Contato">Contrato e Orçamento</a></li>
                    <li><a href="~/Home/Equipe">Nossa Equipe</a></li>
            </div>
        </div>
        <div class="button">
            <label for="checkbox-menu" class="checkbox-menu-label">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="conta">
            <button class="btn" onclick="location.href = '/Home/Login';"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
        </div>
    </label>
    @RenderBody()
    <div class="footer">
        <div id="button"></div>
        <div id="container">
            <div class="copyright">
                <h3>© 2020 Hive Studios - All Rights Reserved.</h3>
            </div>
            @*<div class="contato">
                <h3>Entre em contato</h3>
                <br />
                Telefone:
                +55 (11) 2766-2303
                Endereço:
                Rua Hugo Walter Puschnick, 260, Alto da Mooca, São Paulo, SP
                Email:
                contato@hivestudiofotografia.com.br
                <br />
            </div>*@
            <div class="icons">
                <a href="https://www.whatsapp.com" class="fa fa-whatsapp" aria-hidden="true"></a>
                <a href="https://www.facebook.com" class="fa fa-facebook" aria-hidden="true"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram" aria-hidden="true"></a>
                <a href="https://www.twitter.com" class="fa fa-twitter" aria-hidden="true"></a>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>